/*********************************************************************************/
/*                            Design System Inputs                               */
/*       https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss        */
/*********************************************************************************/

$input-btn-focus-width:         .25rem !default;
$input-btn-focus-color-opacity: .25 !default;
$input-btn-focus-color:         rgb(1, 0, 109, 0.425) !default;
$input-btn-focus-blur:          0 !default;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;