// $accordion-padding-y:                     1rem;
// $accordion-padding-x:                     1.25rem;
$accordion-color:                         $blue-primary;
$accordion-bg:                            transparent;
// $accordion-border-width:                  $border-width;
// $accordion-border-color:                  var(--cui-border-color);
$accordion-border-radius:                 none;
// $accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

// $accordion-body-padding-y:                $accordion-padding-y;
// $accordion-body-padding-x:                $accordion-padding-x;

// $accordion-button-padding-y:              $accordion-padding-y;
// $accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $blue-primary;
$accordion-button-bg:                     transparent;
// $accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              transparent;
$accordion-button-active-color:           $blue-primary;

$accordion-button-focus-border-color:     none;
$accordion-button-focus-box-shadow:       none;

// $accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-button-color;
$accordion-icon-active-color:             $accordion-button-active-color;
// $accordion-icon-transition:               transform .2s ease-in-out;
// $accordion-icon-transform:                rotate(-180deg);
